body {
  background-image: url('Img/MilkyWay.jpg');
  font-family: 'Orbitron', sans-serif;
}

header {
  font-size: 50px;
  text-align: center;
  color: magenta ;
}

.main {
  font-size: 40px;
  text-align: center;
  color: green;
}

.aside1 {
  float: left;
}

.aside2 {
  float: right;
}

#photo1 {
  height: 400px;
  width: 400px;
}

#photo2 {
  height: 400px;
  width: 400px;
}

footer {
  clear: both;
  text-align: center;
  color: magenta;
  font-size: 40px;
}

#response {
  font-size: 30px;
  color: green;
  text-align: center;
  margin-top: 200px;
}

#results {
  text-align: center;
  color: magenta;
}
